.container {
    display: flex;
    flex-direction: row;
    top: 12rem;
    /* border: 2px solid red; */
    /* width: 120%; */
    position: absolute;
    z-index: 2000;
    /* overflow-x: scroll; */

}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: ;
}

.bookImage {
    /* width: 100%; */
    height: 300px;
}

.about {
    margin-left: 2.3rem;
}