.bookPage {
    /* background-image: radial-gradient(circle,
            rgba(219, 216, 215, 0.007) 100%,
            rgba(143, 41, 15, 0.034) 80%),
        url("../images/bgimage.jpg"); */
    height: 100vh;
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: auto 0;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100vw;
}