html {
  /* font-family: "Montserrat", "sans-serif"; */
  font-family: "roboto-slab";

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: rgba(169, 216, 193, 0.411);
  /* background-image: url("../images/banner1.jpeg"); */
  /* background-image: radial-gradient(circle,
      rgba(4, 15, 13, 0.733) 70%,
      rgba(241, 247, 244, 0.87) 64%),
    url("../images/banner1.jpeg"); */
  /* 
 

  /* background-image: url("../images/banner9.jpeg"); */
  background-image: radial-gradient(circle,
      rgba(219, 216, 215, 0.007) 100%,
      rgba(143, 41, 15, 0.034) 80%),
    url("../images/banner9.jpeg");
  height: 100vh;
  background-position: 0px center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.container {
  overflow: hidden;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100vw;
  /* padding: 1rem; */
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
}