.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
  padding: auto;
}

.logo {
  font-size: 1.4rem;
  color: rgb(65, 63, 63);
}

input {
  border: none;
  border-bottom: .2px solid rgb(90, 87, 87);

}

input:active {
  outline: none;
  border: none;
  border-bottom: .2px solid rgb(90, 87, 87);

}

input:focus {
  outline: none;
  /* border: 2px solid red; */
  border: none;
  border-bottom: .2px solid rgb(90, 87, 87);

}

.search {
  display: block;
}